.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
  

table, th, td {
   
  margin: auto;

}

th, td {
  padding-top: 20px;
  border: 1px solid;

}
table {
  width: 40%;
  border: 1px solid;

}
:link{
  text-decoration: none;
}
.header{
  display: flex;
  flex-grow: 2;

background-color: #61dafb;  /* position: relative; */
   height: 60px;

}
.design{
 width: 400px;
 background-color: aqua;
  margin: auto;
  text-align:'center';
  border: 1px solid black;
}

.active{
  color: red;
 
}
.header2{
  display: flex;
  margin: 30px;
  list-style: none;
  
  flex-grow: 2;
  flex-basis: 2;
  
  justify-content: space-around;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
